language: scala

jdk:
  - oraclejdk8

scala:
  - 2.12.4-bin-typelevel-4

script:
  - bash scripts/build.sh $TEST_SUITE $ACTION $AND

addons:
  postgresql: "9.5"

before_script:
  - psql -c 'CREATE USER clone_hero_db;' -U postgres
  - psql -c 'CREATE DATABASE clone_hero_db WITH OWNER clone_hero_db;' -U postgres

cache:
  directories:
  - $HOME/.sbt/0.13/dependency
  - $HOME/.sbt/boot/scala*
  - $HOME/.sbt/launchers
  - $HOME/.ivy2/cache

before_cache:
  - du -h -d 1 $HOME/.ivy2/cache
  - du -h -d 2 $HOME/.sbt/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/13a6e86f36ec850be2dd
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
